@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    /* border: solid 1px red; */
}

body {
    box-sizing: border-box;
    background-color: #F3F5FC;
    color: #0A3871;
}

.apresentacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.apresentacao__esquerda{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo{
    width: 15vw;
    margin-top: 1%;
}

#logo_alura{
    width: 100px;
}

#texto__input{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    background-color: #F3F5FC;
    border: none;
    color: #0A3871;
    outline: none;
    resize: none;
    width: 50vw;
    height: 60vh;
    margin-top  : 15%;
    padding-right: 50px;
}

textarea::placeholder {
    color: #0A3871;
  }

#letras_minusculas
{
    display: flex;
    align-items: flex-start;
    margin-bottom: 2%;
}

.apresentacao__esquerda__botoes{
    width: 50vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.botao_cript {
    background-color: #0A3871;
    color: white;
    margin-right: 20px;
}

.botao_descript {
    background-color: #D8DFE8;   
    color: #0A3871;
}

.apresentacao__direita {
    background-color: white;
    border-radius: 20px;
    width: 300px;
    height: 75vh;
    margin: 1% 0 0 0;
    padding-top: 8.5%;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* justify-content: center; */
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.8);

}

.figuras_direita{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#moca_sentada {
    width: 80%;
}

#nenhuma_menssagem_encontrada{
    width: 80%;
}

.botao_copiar_area{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: auto;
    margin-top: 0px;
}

#botao_copiar {
    background-color: white;
    color: #0A3871;
    margin-top: ;
    margin-bottom: 7%;
}

button 
{
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid #0A3871;
    border-radius: 16px;
    height: 3.5rem;
    width: 16rem;
}
/* 
@media (max-width: 600px) {
    .apresentacao {
        display: block;
    }
} */

