@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    /* border: solid 1px red; */
}

body {
    box-sizing: border-box;
    background-color: #F3F5FC;
    color: #0A3871;
}

.apresentacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.apresentacao__esquerda{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo{
    width: 130px;
    margin-top: 1%;
}

#logo_alura{
    width: 100px;
}

#texto__input{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    background-color: #F3F5FC;
    border: none;
    color: #0A3871;
    outline: none;
    resize: none;
    width: 50vw;
    height: 60vh;
    margin-top  : 15%;
    padding-right: 50px;
}

textarea::placeholder {
    color: #0A3871;
  }

#letras_minusculas
{
    display: flex;
    align-items: flex-start;
    margin-bottom: 2%;
}

.apresentacao__esquerda__botoes{
    width: fit-content;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.botao_cript {
    background-color: #0A3871;
    color: white;
    margin-right: 20px;
}

.botao_descript {
    background-color: #D8DFE8;   
    color: #0A3871;
}

.apresentacao__direita {
    background-color: white;
    border-radius: 20px;
    width: 300px;
    height: 90vh;
    margin: 1% 0 0 0;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.1);

}

.area_util_direita
{
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: auto;
 height: 100%;
}

.figuras_direita{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20%;
}

#moca_sentada {
    width: 80%;
}

#nenhuma_menssagem_encontrada{
    width: 80%;
}

#nenhuma_menssagem_encontrada_tablet{
    width: 80%;
    display: none;
}

.botao_copiar_area{
    height: 20vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* width: auto; */
    /* margin-top: 0px; */
}

#botao_copiar {
    background-color: white;
    color: #0A3871;
    /* margin-top: ; */
    margin-bottom: 7%;
    /* display: flex; */
}

button 
{
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid #0A3871;
    border-radius: 16px;
    height: 3.5rem;
    width: 16rem;
}
/* ---------------------------------------------------------------- */
@media (max-width: 500px) 
{
    .apresentacao{
        display: flex;
        flex-direction: column;
    }
    #texto__input{
        height: 45vh;
        width: 90vw;
        padding-right: 0px;
    }
    .apresentacao__esquerda{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-color: #0A3871; */
    }
    .apresentacao__esquerda__botoes{
        flex-direction: column;
        width: 90vw;
        height: 14vh;
        align-items: center;
        gap: 10px;
    }
    .botao_cript
        {
            margin-right: 0px;
        }
    button
        {
            width: 80vw;
        }
    #moca_sentada 
        {
            display: none;
        }
    .figuras_direita
        {
            padding-top: 0%;
        }   
    #nenhuma_menssagem_encontrada
        {
            display: flex;
        }
    #nenhuma_menssagem_encontrada_tablet
        {
            display: none;
        }
    .apresentacao__direita 
        {
            height: 20vh;
            width: 90vw;
        }

    /* Estilos para mobile */
}
  /* ---------------------------------------------------------------- */
  @media (min-width: 500px) and (max-width: 900px) {

    .logo{
        margin-right: 80%;
        margin-top: 1%;
    }
    .apresentacao{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .apresentacao__esquerda{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #texto__input{
        height: 40vh;
    }
    .apresentacao__esquerda__usuario{
        width: 90vw;
    }
    .apresentacao__esquerda__botoes{
        width: 90vw;
        justify-content: center;
    }
    .figuras_direita{
        padding-top: 0%;
    }
    #moca_sentada {
        display: none;
    }
    #nenhuma_menssagem_encontrada{
        display: none;
    }
    #nenhuma_menssagem_encontrada_tablet{
        display: flex;
    }
    .apresentacao__direita {
        height: 20vh;
        width: 90vw;
    }
    /* Estilos para tablet */
  }