@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    border: solid 1px red;
}

body {
    box-sizing: border-box;
    background-color: #F3F5FC;
    color: #0A3871;
}

.cabecalho{
    margin-top: 40px;
    scale: 0.8;
}

.apresentacao {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.apresentacao__caixadeinput {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    background-color: #F3F5FC;
    /* border: none; */
    color: #0A3871;
    outline: none;
    width: 500px;
    height: 330px;
}

.apresentacao__caixa {
    padding-right: 2%;
}

.apresentacao__imagem {
    width: 350px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#moca_sentada {
    padding-top: 115px;
    scale: 0.8;
}

#nenhuma_menssagem_encontrada
{
    padding-top: 32px;
    padding-bottom: 115px;
}

#letras_minusculas
{
    display: flex;
    align-items: flex-start;
    margin-bottom: 2%;
}

.apresentacao__caixadeinput__area_botoes
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

button 
{
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid #0A3871;
    border-radius: 16px;
    height: 50px;
}

.botao_encriptar {
    background-color: #0A3871;
    color: white;
    margin-right: 20px;
    width: 250px;
}

.botao_desencriptar {
    background-color: #F3F5FC;
    color: #0A3871;
    width: 250px;
}

.botao_copiar {
    background-color: #0A3871;
    color: white;
    width: auto;
    padding: 0 37%;
    margin-bottom: 5%;
}

#textoEncriptado {
    resize: none;
}

#textoDesencriptado {
    resize: none;
}

@media (max-width: 600px) {
    .apresentacao {
        display: block;
    }
}

